body {
    text-align: center;
    margin: 0;
    font-family: Raleway;
}
header {
 

}
.logo {
    margin: 10px auto;
    width: 500px;
    background-color: rgb(17, 49, 117);
    color: white;
    padding: 10px;
    border-radius:  20px;
}

footer {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    border-top: solid black 1px;
    font-weight: 600;
}
h1 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

table {
    width: 500px;
    height: 500px;
    margin: 30px auto;
    border-collapse: collapse;
}


td {
    width: 33.33%;
    margin: 0;
    border-right: 5px solid black;
    border-bottom: 5px solid black;


    text-align: center;
    
}

td:last-child {
    border-right: none;
}

tr:last-of-type td {
    border-bottom:  none;
}


.game {
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.messageLog {
    border: 2px dotted black;
    width: 166px;
    height: 28px;
    margin: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.restartButton {
    margin:  10px;
    width: 166px;
    height:  50px;
    border: 2px solid black;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.restartButton:hover {
    background: lightgreen;
    cursor: pointer;
}

.players {
    display: none;
    width: 150px;
    height: 210px;
    border: 3px solid black;
    margin: 10px;
}
.name {
    width: 96%;
    height: 27px;
    margin-top: 10px;
    font-weight: 900;
    color: rgb(17, 49, 117);
}
.blue {
    background: lightblue;
    color: blue;
}

.green {
    background: lightgreen;
    color: darkgreen;
}

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
}