body {
    text-align: center;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
}


td {
    width: 50px;
    height: 50PX;
    margin: 0;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
    
}

td:last-child {
    border-right: none;
}

tr:last-of-type td {
    border-bottom:  none;
}


.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.messageLog {
    border: 2px dotted black;
    width: 166px;
    height: 28px;
    margin: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.restartButton {
    margin:  10px;
    width: 166px;
    height:  50px;
    border: 2px solid black;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.restartButton:hover {
    background: lightgreen;
    cursor: pointer;
}

.players {
    width: 150px;
    height: 210px;
    border: 3px solid black;
    margin: 10px;
}
.name {
    width: 96%;
    height: 27px;
    margin-top: 10px;
}
.blue {
    background: lightblue;
    color: blue;
}

.green {
    background: lightgreen;
    color: darkgreen;
}