body {
    text-align: center;
}

table {
    margin: 0 auto;
}
td {
    width: 50px;
    height: 50PX;
    border: 1px solid black;
    text-align: center;
    
}

.messageLog {
    border: 2px dotted black;
    width: 166px;
    height: 28px;
    margin: 5px auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.restartButton {
    margin: 5px auto;
    width: 166px;
    height:  50px;
    border: 2px solid black;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.restartButton:hover {
    background: lightgreen;
    cursor: pointer;
}